
@import './variables';


.card {
    min-width: 20.625rem;
    min-height: 33.625rem;
    background-color: white;
    margin: 10.25rem 1.5625rem;
    border-radius: 30px;

    &__hero {

        &::before {
            content: '';
            position: absolute;
            min-width: 13.7rem;
            min-height: 11.4375rem;
            left: 50%;
            transform:translateX(-50%);
            background-image: url('../assets//images/bg-pattern-mobile.svg');
            background-repeat: no-repeat;
            background-size: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            min-width: 15rem;
            min-height: 11.4375rem;
            margin-top:-95px;
            left: 50%;
            transform:translateX(-55%);
            background-repeat: no-repeat;
            background-image: url('../assets/images/illustration-woman-online-mobile.svg');
            background-position: 50% 50%;
            background-size: 100%;
            
        }
    }
}

